<div class="row">
    <div class="span4 offset1">@Html.ValidationSummary("There was an error in your submission:", new {@class = "alert alert-error"})</div>
</div>
<div class="row">
    @if (ViewData.TemplateInfo.TemplateDepth > 1)
    {
        @ViewData.ModelMetadata.SimpleDisplayText
    }
    else
    {
        foreach (var prop in ViewData.ModelMetadata.Properties
            .Where(pm => pm.ShowForEdit && !ViewData.TemplateInfo.Visited(pm)))
        {
            <div id="@prop.PropertyName.ToLower()-field" class="control-group">
                @Html.Editor(prop.PropertyName) 
            </div>
        }
    } 
</div>