@model dynamic

@{
    ViewBag.Title = "Oh So Secure";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="jumbotron masthead">
    <div class="container">
        <h1>Oh, So Secure!</h1>
        <p>Authentication and Authorization the way YOU want it.</p>
        @if (!User.Identity.IsAuthenticated)
        {
            <p>
                <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-large" >Log In</a>
            </p>
        }
        <ul class="masthead-links">
            <li>
                <a href="http://github.com/briandonahue/authdemo">GitHub project: http://github.com/briandonahue/authdemo </a>
            </li>
        </ul>
    </div>
</div>